.tablero{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
h1,h3{
    text-align: center;
}
.tablero div{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.balas{
    background-color: aqua;
}
.aliens{
    background-color: brown;
}
.nave{
    background-color: blueviolet;
}
.explosion{
    background-color: chartreuse;
}